.content article{
	display: block;
  border: solid thin #bababa;
  border-radius: .2em;
	-webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  margin: 5px;
  background: #f0f0f0;
  padding: 5px;
}

.content h3{
  font: 18pt steelfish;
  margin-left: 10px;
}

.content figure.logo{
  float: right;
}

.content article ul{
  list-style-position: inside;
  list-style-type: square;
  margin: 10px;
}

.content article li{
  line-height: 1.2em;
}

.content figure.gallery img{
  height: 300px;
}

.content article#ML507 figure.gallery img{
  border-style: groove;
}

.content footer{
  font-size: small;
  font-style: italic;
}